body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

:root {
  --primary-color: #828282;
  --title-color: #3F3D56;
  --span-color: #EE24FF;
  --line-color: #ECEFF2;
}

#container {
  width: 626px;
  margin: 64px auto 64px;
  color: var(--primary-color);
}

#container img {
  margin-bottom: 32px;
}

#container h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  color: var(--title-color);
  margin: 16px 0;
}

#container h1 span {
  color: var(--span-color);
  font-weight: bold;
}

#container p + p {
  margin: 32px 0 64px;
}

#container p span {
  color: var(--title-color);
  font-weight: bold;
}

#links {
  margin: 0 auto 40px;
}

#footer {
  width: 100%;
}

#footer .line {
  width: 391px;
  height: 0;
  margin: 0 auto 16px;
  border: 1px solid var(--line-color);
}

#footer #links a {
  text-decoration: none;
  color: var(--title-color);
  font-weight: bold;
}

#footer a + a {
  margin-left: 28px;
}

#wave {
  position: fixed;
  width: 100%;
  bottom: 0px;
}